@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .align-elements {
      @apply mx-auto max-w-5xl px-8
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}